<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TechTacToe-ah.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE9E6C8B14502CD100A0DE71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E6C9314502D8800A0DE71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEA69486145038F600F19D58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED1B1A81431F077000BBB2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1806A731410D6720050493D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
